@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --primary: #0077ff;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.btn {
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 1vh;
    padding: 0.3em;
    border: none;
    transition: all 0.2s ease-in-out;
    background: none;
}

.btn-primary {
    background-color: var(--primary);
    color: white;
}

.btn-regular {
    background: linear-gradient(white, #dddddddd);
    color: black;
    border: black 0.07em solid;
}

.btn-primary:hover {
    filter: brightness(60%);
    filter: saturate(60%)
}

.btn-primary:active {
    filter: saturate(50%);
    filter: brightness(140%);
}

.btn-regular:hover {
    filter: brightness(90%)
}

.btn-regular:active {
    filter: saturate(50%);
    filter: brightness(140%);
}