@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --primary: #0077ff;
}


body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    overscroll-behavior: none;
    overflow-x: hidden;
}

body:not(.navbar) {
    margin-left: 1em;
}

.btn {
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 1vh;
    padding: 0.3em;
    border: none;
    background: none;
    transition: all 0.1s ease-in-out;
}

.primary {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, var(--primary) 0%, rgba(1,1,1,0.5) 100%);
    color: white;
}

.regular {
    background: rgba(0,0,0,0);
    color: black;
    border: black 0.08em solid;
}

.primary:hover {
    filter: brightness(60%);
    filter: saturate(60%)
}

.primary:active {
    filter: saturate(50%);
    filter: brightness(140%);
}

.regular:hover {
    filter: brightness(90%)
}

.regular:active {
    filter: saturate(50%);
    filter: brightness(140%);
}


.navbar {
    background-color: var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5em;
    margin: 0;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.navbar::-webkit-scrollbar {
    display: none;
}

.navbar a {
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    overflow: visible;
    transition: all 0.3s;
}

.navbar a:hover {
    border-bottom: 0.2em black solid;
}
